<h1 onclick='test();'> Tic Tac Toe </h1>
<h3> It is 
  <span id="player-name">Player A</span>'s Turn
</h3>
<div class="box">
  <div class="row" id="0">
    <input type="button" name="0" value=" ">
    <input type="button" name="1" value=" ">
    <input type="button" name="2" value=" ">
  </div>
  <div class="row" id="1">
    <input type="button" name="0" value=" ">
    <input type="button" name="1" value=" ">
    <input type="button" name="2" value=" ">
  </div>
  <div class="row" id="2">
    <input type="button" name="0" value=" ">
    <input type="button" name="1" value=" ">
    <input type="button" name="2" value=" ">
  </div>
</div>

<div id="undo"> Undo last move </div>